{% assign cloudUrl = settings.cloudinary_url %}
{% assign meta = settings.meta %}
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet'>
    <link href='https://unpkg.com/swiper/swiper-bundle.min.css' rel='stylesheet'>
    <link href='https://fonts.gstatic.com' rel='preconnect'>
    <link href='/assets/css/styles.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat&display=swap' rel='stylesheet'>
    <title>{{ meta.title }}</title>
    <meta name='title' content="{{ meta.title }}">
    <meta name='description' content="{{ meta.description }}">

    <!-- Open Graph / Facebook -->
    <meta content='website' property='og:type'>
    <meta property='og:url' content="{{ meta.siteUrl }}">
    <meta property='og:site_name' content="{{ meta.siteName }}">
    <meta content='en_US' property='og:locale'>
    <meta property='og:title' content="{{ meta.title }}">
    <meta property='og:description' content="{{ meta.description }}">
    <meta property='og:image' content="{{cloudUrl}}{{ meta.imgSrc }}">
    <meta content='1280' property='og:image:width'>
    <meta content='640' property='og:image:height'>
    <meta property='og:image:alt' content="{{ .meta.imgAtl }}">

    <!-- Twitter -->
    <meta content='summary_large_image' property='twitter:card'>
    <meta property='twitter:url' content="{{ meta.siteUrl }}">
    <meta property='twitter:title' content="{{ meta.title }}">
    <meta property='twitter:description' content="{{ meta.description }}">
    <meta property='twitter:image' content="{{cloudUrl}}{{ meta.imgSrc }}">
    <meta property='twitter:image:alt' content="{{ meta.imgAlt }}">
  </head>

  <body class='bg-secondary min-h-screen'>
    {% if page.url == '/' %}
      <div class='fixed inset-0 bg-secondary flex items-center justify-center' id='loading' style='z-index: 999999;'>
        <img src="{{cloudUrl}}{{settings.header.logo}}" class='h-32 logo-animation' alt='log0'>
      </div>
    {% endif %}
    <header>
      <img src="{{cloudUrl}}{{settings.header.logo}}" alt='logo' class='h-32 m-auto transition-all duration-300'>
      <ul class='hidden sm:flex sm:items-center sm:justify-center' id='menu' data-url='{{page.url}}'>
        {% for item in settings.header.menu %}
          <li class='px-4'>
            <a class='hover:text-primary transition duration-300 text-white' href='{{item.url}}'>{{item.name}}</a>
          </li>
        {% endfor %}
      </ul>
      <button class='hover:opacity-60 sm:hidden text-white transition duration-300 outline-none focus:outline-none' onclick='toggleMenu()'>
        <ion-icon class='text-2xl' name='menu-outline'></ion-icon>
      </button>
      <div class='fixed overlay-menu inset-0' id='nav-menu' style='z-index: 9999;'>
        <div class='absolute flex flex-col items-center justify-center inset-0' id='nav-menu-wrapper'>
          <button aria-label='Close Menu' class='absolute right-0 top-0 p-1 transition duration-300 text-white opacity-75 hover:opacity-50 focus:outline-none' onclick='toggleMenu()' style='margin-right:24px;margin-top:24px'>
            <ion-icon class='text-3xl' name='close-outline'></ion-icon>
          </button>
          <ul id='nav-item'>
            {% for item in settings.header.menu %}
              <li class='px-4 py-2'>
                <a class='hover:text-primary transition duration-300' href='{{item.url}}' onclick='toggleMenu()'>{{item.name}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </header>
    <main class='w-full overflow-hidden'>
      {{ content | safe }}
      <div class='modal'>
        <div class='absolute w-full h-full'>
          <div class='absolute z-10 w-full h-full overflow-auto py-20 px-6 sm:px-16 md:px-24'>
            <div class='bg-white w-full p-10 min-h-full rounded-lg overflow-hidden'>
              <div class='modal-description text-secondary mb-10'></div>
              <div class='modal-gallery'></div>
            </div>
          </div>

          <div class='loader-screen absolute z-0 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2'>
            <div class='loader'></div>
          </div>
          <button class='absolute text-5xl z-20 focus:outline-none top-4 right-10 cursor-pointer text-white hover:opacity-80 duration-300 transition' onclick='closeModal()'>
            &times;
          </button>
        </div>

      </div>
    </main>
    <!-- Footer -->
    <footer class='w-full relative section px-8 overflow-hidden' id='contact'>
      <div class='container mx-auto max-w-screen-sm'>
        <div class='text-center mb-10'>
          <img src="{{cloudUrl}}{{settings.header.logo}}" alt='logo' class='h-32 m-auto'>
        </div>
        <div class='flex flex-col mb-3 text-md text-white font-light'>
          {% for item in settings.footer %}
            <p class='mb-2'>{{item.text}}</p>
          {% endfor %}
        </div>
        <div class='copyrights italic'>
          <p class='para text-white font-light text-sm'>
            Copyright ©2020 All rights reserved | Made by
            <a class='text-primary hover:opacity-75' href='https://rooster-world.com/'>
              Rooster World
            </a>
          </p>
        </div>
      </div>
    </footer>
    <script src='https://unpkg.com/ionicons@5.2.3/dist/ionicons.js'></script>
    <script src='https://unpkg.com/aos@2.3.1/dist/aos.js'></script>
    <script src='https://unpkg.com/swiper/swiper-bundle.min.js'></script>
    <script src='/assets/js/main.js'></script>
  </body>
</html>
