---
layout: base.liquid
---
{% assign cloudUrl = settings.cloudinary_url %}
<!-- banner -->
<div class='min-h-screen relative'>
  {% for item in banner.images %}
    <img src="{{ cloudUrl }}/w_1280,c_limit,fl_progressive,q_auto:good{{ item }}" alt='slide' class='banner-slide fading absolute w-full h-full object-center object-cover'/>
  {% endfor %}
  <div class='absolute inset-0 banner-gradient'></div>
  <div class='absolute container flex flex-col justify-center inset-0'>
    <div class='xl:w-2/3'>
      <h1 class='text-4xl sm:text-6xl text-white font-semibold leading-tight mb-10' data-aos='fade-right'>
        {{ banner.title }}
      </h1>
      <div class='mb-6'>
        {% include description.liquid, des: banner.description %}
      </div>
      <div>
        <a class='duration-300 inline-block transition border-white border-2 text-white font-medium py-3 px-10 hover:bg-white hover:text-secondary' href='#about'>
          {{ banner.button }}
        </a>
      </div>
    </div>
  </div>
  <div class='absolute right-6 bottom-6 socials flex flex-col'>
    {% for item in settings.header.socials %}
      <a href="{{ item.url }}" class='text-white text-sm hover:text-primary transition duration-500 mb-3'>
        <ion-icon name="{{ item.icon }}" class='text-xl'></ion-icon>
      </a>
    {% endfor %}
  </div>
  <div class='absolute text-center bottom-10 w-full z-20'>
    <a href='#about'>
      <ion-icon class='text-white text-4xl animate-bounce cursor-pointer hover:opacity-60 transition duration-300' name='chevron-down-outline'></ion-icon>
    </a>
  </div>
</div>

<!-- category -->
<section class='section container grid grid-cols-1 sm:grid-cols-3 gap-4 sm:gap-2 md:gap-6'>
  {% for item in categories %}
    <div class='w-full pb-full relative overflow-hidden bg-white rounded-lg' data-aos='fade-up'>
      <img class='absolute w-full h-full object-center object-cover' data-aos-delay="{{ forloop.index | minus: 1 | times: 200 }}" src="{{ cloudUrl }}/w_600,c_limit,fl_progressive/q_auto:good{{item}}" alt='categories'>
    </div>
  {% endfor %}
</section>

<!-- about us -->
<section class='section container' id='about'>
  <h2 class='uppercase text-2xl sm:text-4xl text-white text-center mb-6 font-bold' data-aos='fade-up'>
    {{ about.title }}
  </h2>
  {% if about.description %}
    <div class='mb-6' data-aos='fade-up'>
      {% include description.liquid, des: about.description %}
    </div>
  {% endif %}

  <div class='relative pb-1/2 sm:pb-1/3 bg-white rounded-lg overflow-hidden' data-aos-delay='400' data-aos='fade-right'>
    <img alt='about' class='absolute h-full w-full object-center object-cover' src="{{ cloudUrl }}/w_1000,c_limit,fl_progressive/q_auto:good{{ about.cover }}"/>
  </div>
</section>
<section class='section container' id='solutions'>
  <h2 class='uppercase text-2xl sm:text-4xl text-white mb-6 font-bold' data-aos='fade-up'>
    {{ solutions.title }}
  </h2>
  {% if solutions.description %}
    <div class='mb-6'>
      {% include description.liquid, des: solutions.description %}
    </div>
  {% endif %}
  <div class='swiper-solutions overflow-hidden w-full mt-10' data-aos='fade-up'>
    <div class='swiper-wrapper'>
      {% for item in solutions.images %}
        <div class='swiper-slide'>
          <div class='w-full pb-full lg:pb-2/3 relative project-item rounded-lg overflow-hidden cursor-default'>
            <img class='absolute inset-0 w-full h-full object-center object-contain' src="{{ cloudUrl }}/w_1280,c_limit,fl_progressive/q_auto:good{{ item }}" alt=''/>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class='swiper-button-next swiper-button-white'></div>
    <div class='swiper-button-prev swiper-button-white'></div>
    <!-- Add Pagination -->
  </div>
</section>
{% assign flowers = collections.flowers[0].data %}
{% assign flowersItems = flowers.categories | getProjects %}

{% assign projects = collections.projects[0].data %}
<!-- project -->
<section class='container section mb-16'>
  <div class='sm:flex mb-10'>
    <div class='sm:w-1/3 mr-3'>
      <h2 class='uppercase text-2xl sm:text-4xl text-white mb-6 font-bold' data-aos='fade-right'>
        {{ projects.title }}
      </h2>
      <div class='mb-6' data-aos='fade-up'>
        {% include description.liquid, des: projects.description %}
      </div>

      <a class='text-white border text-sm inline-block rounded px-4 py-2 border-white hover:bg-white hover:text-secondary transition duration-300' data-aos='fade-up' href='/projects'>View All</a>
    </div>
    <div class='hidden sm:block sm:flex-1 pb-1/3 bg-white rounded-lg overflow-hidden' data-aos='fade-left'>
      <picture>
        <img src="{{ cloudUrl }}/w_1000,c_limit,fl_progressive/q_auto:good{{projects.cover}}" alt='cover' class='absolute w-full h-full object-center object-cover'>
      </picture>
    </div>
  </div>
  <div class='swiper-container w-full' data-aos='fade-up'>
    <div class='swiper-wrapper'>
      {% assign prts = projects.categories | getProjects %}
      {% for item in prts %}
        <div class='swiper-slide rounded-lg relative project-item' onclick='openModal({{ item }},&quot;{{ cloudUrl }}&quot;)' style='background-image: url({{ cloudUrl }}{{item.images[0]}});background-position: center;background-repeat: no-repeat;background-size: cover;'>
          <div class='w-full pb-full lg:pb-full relative project-item rounded-lg overflow-hidden cursor-default bg-white'>
            <img class='absolute inset-0 w-full h-full object-center object-cover' src="{{ cloudUrl }}/w_800,c_limit,fl_progressive/q_auto:good{{ item.images[0] }}" alt=''/>
            <div class='absolute inset-0 bg-black bg-opacity-40 opacity-0 transition duration-300 flex flex-col items-center justify-center p-6'>
              <h4 class='text-white font-bold text-xl mb-2'>{{ item.name }}</h4>
              {% include description.liquid, des: item.description %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class='swiper-button-next swiper-button-white'></div>
    <div class='swiper-button-prev swiper-button-white'></div>
    <!-- Add Pagination -->
  </div>
</section>
<!-- Collection -->
<section class='container section mb-16'>
  <h2 class='uppercase text-2xl sm:text-4xl flex justify-between items-end text-white mb-10 font-bold' data-aos='fade-right'>
    {{ flowers.title }}
    <a class='text-white font-normal border text-sm inline-block rounded px-4 py-2 border-white hover:bg-white hover:text-secondary transition duration-300' data-aos-delay='400' data-aos='fade-up' href='/flowers'>View All</a>
  </h2>
  <div class='swiper-lookbook overflow-hidden w-full' data-aos='fade-up'>
    <div class='swiper-wrapper'>
      {% for item in flowersItems %}
        <div class='swiper-slide' onclick='openModal({{ item }},&quot;{{ cloudUrl }}&quot;)'>
          <div class='w-full pb-full lg:pb-full relative project-item rounded-lg overflow-hidden cursor-default'>
            <img class='absolute inset-0 w-full h-full object-center object-cover' src="{{ cloudUrl }}/w_800,c_limit,fl_progressive/q_auto:good{{ item.images[0] }}" alt=''/>
            <div class='absolute inset-0 bg-black bg-opacity-40 opacity-0 transition duration-300 flex flex-col items-center justify-center p-6'>
              <h4 class='text-white font-bold text-xl mb-2'>{{ item.name }}</h4>
              {% include description.liquid, des: item.description %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class='swiper-button-next swiper-button-white'></div>
    <div class='swiper-button-prev swiper-button-white'></div>
    <!-- Add Pagination -->
  </div>
</section>
<!-- callout -->
{% for section in callout %}
  <section class='bg-gray-800 mb-8 pb-full sm:pb-1/2 lg:pb-1/3 relative callout' data-aos='fade-left'>
    <img alt='bg' class='absolute h-full w-full object-cover object-center' src="{{ cloudUrl }}/w_1200,c_limit,fl_progressive/q_auto:good{{ section.cover }}"/>
    <div class='intro-section absolute inset-0'></div>
    <div class='absolute inset-0 container flex items-center'>
      <div class='w-full sm:w-1/2 content'>
        <h2 class='uppercase text-2xl sm:text-4xl text-white mb-4 font-bold'>
          {{ section.name }}
        </h2>
        <div class='mb-6'>
          {% include description.liquid, des: section.description %}
        </div>
        <a class='text-white border text-sm inline-block rounded px-4 py-2 border-white hover:bg-white hover:text-secondary transition duration-300' href="{{ section.link.url }}">{{ section.link.text }}</a>
      </div>
    </div>
  </section>
{% endfor %}
