---
layout: base.liquid
---
{% assign cloudUrl = settings.cloudinary_url %}
<section class='mt-80'>
  {% for section in items %}
    <div class='bg-gray-800 mb-8 pb-full sm:pb-1/2 relative callout' data-aos='fade-left'>
      <img alt='bg' class='absolute h-full w-full object-cover object-center' src='{{cloudUrl}}{{section.images[0]}}'>
      <div class='intro-section absolute inset-0'></div>
      <div class='absolute inset-0 container flex items-center'>
        <div class='w-full sm:w-1/2 lg:w-1/3 content'>
          <h2 class='uppercase text-4xl text-white mb-4'>
            {{section.name}}
          </h2>
          <p class='text-white mb-4'>{{section.description}}</p>
          <a class='text-white border inline-block rounded px-4 py-2 border-white hover:bg-white hover:text-secondary transition duration-300 cursor-default' onclick='openModal({{section}},"{{cloudUrl}}")'>View Collection</a>
        </div>
      </div>
    </div>
  {% endfor %}
</section>