---
layout: base.liquid
---

<!-- projects -->
<section class='container section mt-48'>
  <h3 class='text-3xl mb-8'>{{projects.title}}</h3>
  <div class='flex flex-wrap items-center justify-end mb-4' id='list-categories'>
    {% for item in projects.collections %}
      <div class='{% if forloop.first %}active{% endif %} px-3 py-1 rounded-full border-white border mr-2 mb-2' onclick='setActiveCategory("{{forloop.index}}")'>
        {{ item.name }}
      </div>
    {% endfor %}
  </div>
  {% for project in projects.collections %}
    <div class='categories grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6 sm:gap-8 md:gap-10 {% if forloop.first == false %}hidden{% endif %}' data-active='{{forloop.index}}'>
      {% for item in project.items %}
        <div data-aos='fade-up' onclick='openModal({{ item.images }},&quot;{{settings.cloudinary_url}}&quot;)'>
          <div class='w-full relative project-item rounded-lg overflow-hidden'>
            <img src="{{ settings.cloudinary_url }}{{ item.images[0] }}" alt='' class='w-full'/>
            <div class='absolute inset-0 bg-black bg-opacity-40 opacity-0 transition duration-300 flex items-center justify-center'>
              <h4 class='text-white font-bold text-xl'>{{ item.name }}</h4>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}

</section>
